<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Anda telah melakukan order pada
    <span th:text="${#dates.format(subscriptionDate)}">28-12-2012</span>
</p>
<p>
    Silahkan lakukan pembayaran sebelum
    <span th:text="${#dates.format(paymentDeadline)}">28-12-2012</span>
    agar order anda tidak kadaluarsa
</p>
<p>
    Total yang harus anda bayar :  <b th:text="${total}">123456</b>
</p>
<p>
    Anda dapat melakukan pembayaran tagihan pada link berikut : <a th:href="${paymentLink}">bayar tagihan</a>
</p>
<p>
    Regards, <em>Ngga Tau Team</em>
</p>
</body>
</html>